/* 2 */
/* 1 */
/*  Inicio de fuentes externas  */
@font-face {
  font-family: 'Fave Condensed One Pro';
  src: url("../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.eot");
  src: url("../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.eot?#iefix") format("embedded-opentype"), url("../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.woff2") format("woff2"), url("../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.woff") format("woff"), url("../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.ttf") format("truetype"), url("../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.svg#Fave Condensed One Pro") format("svg");
  font-display: swap; }
@font-face {
  font-family: 'Ombudsman Stencil';
  src: url("../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.eot");
  src: url("../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.eot?#iefix") format("embedded-opentype"), url("../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.woff2") format("woff2"), url("../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.woff") format("woff"), url("../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.ttf") format("truetype"), url("../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.svg#Ombudsman Stencil") format("svg");
  font-display: swap; }
@font-face {
  font-family: 'Roboto Regular';
  src: url("../src/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-display: swap; }
@font-face {
  font-family: 'Roboto Medium';
  src: url("../src/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-display: swap; }
@font-face {
  font-family: 'Roboto Bold';
  src: url("../src/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-display: swap; }
@font-face {
  font-family: 'Roboto Light';
  src: url("../src/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-display: swap; }
@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url("../src/assets/fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype");
  font-display: swap; }
@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url("../src/assets/fonts/roboto/RobotoCondensed-Bold.ttf") format("truetype");
  font-display: swap; }
/*  Fin de fuentes externas  */
:root {
  scroll-behavior: smooth;
  /*  Medidas  */
  --medida-raiz: 62.5%;
  --swiper-navigation-size: 20px;
  /*  Fin de Medidas  */
  /* Colores */
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --color-rojo-coorporativo: #ff0024;
  --color-rojo: #ff0000;
  --color-violeta: #a402b3;
  --color-violeta-medio: #7c0087;
  --color-bordo: #7b0325;
  --color-bordo-medio: #d00202;
  --color-amarillo: #fbb900;
  --color-amarillo-medio: #e3a72b;
  --color-fucsia: #f101ff;
  --color-azul: #0076fb;
  --color-azul-fuerte: #0029fb;
  --color-verde-check: #00CB00;
  --color-rojo-error: #F90000;
  --color-amarillo-star: #ffec51;
  /* Fin de Colores */
  /*  Fuentes  */
  --fuente-fave-condensed: Fave Condensed One Pro;
  --fuente-ombudsman-stencil: Ombudsman Stencil;
  --fuente-roboto-regular: Roboto Regular;
  --fuente-roboto-medium: Roboto Medium;
  --fuente-roboto-bold: Roboto Bold;
  --fuente-roboto-light: Roboto Light;
  --fuente-roboto-condensed-regular: Roboto Condensed Regular;
  --fuente-roboto-condensed-bold: Roboto Condensed Bold;
  /*  Fin de Fuentes  */ }

/*
* Inicio Generales
*
*/
* {
  margin: 0;
  padding: 0; }

a {
  color: black; }

input, select {
  border: 1px solid black !important;
  border-radius: 0px !important; }
  input:focus, select:focus {
    border-color: black !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important; }

button.btn.btn-primary {
  background-color: black;
  border: 1px solid black;
  border-radius: 0px;
  width: 100%; }

/*
* Fin Generales
*
*/
/* Inicio: estilos generales */
html,
body {
  position: relative;
  height: 100%; }

.swiper {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-blanco);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper {
  margin-left: auto;
  margin-right: auto; }

/* Fin: estilos generales */
/* Inicio: header */
header .navbar .container .navbar-brand img.logo {
  width: 3rem; }
header .navbar .container .navbar-collapse form.d-flex .form-control {
  display: none; }
header .navbar .container .navbar-collapse form.d-flex .form-control.active {
  display: block; }
header .navbar .container .navbar-collapse form.d-flex a {
  display: flex;
  align-items: center;
  text-decoration: none; }
  header .navbar .container .navbar-collapse form.d-flex a:hover {
    color: var(--color-negro);
    transition: all 0.5s; }
  header .navbar .container .navbar-collapse form.d-flex a .btn-carrito {
    position: relative;
    display: flex;
    align-items: center; }
    header .navbar .container .navbar-collapse form.d-flex a .btn-carrito .carrito-cantidad {
      background-color: var(--color-rojo);
      border-radius: 50px;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      top: 0;
      line-height: 1.4;
      color: var(--color-blanco);
      font-size: 15px; }
header .navbar .container .navbar-collapse form.d-flex .btn {
  position: relative;
  display: flex;
  align-items: center; }
  header .navbar .container .navbar-collapse form.d-flex .btn:hover {
    border-color: #6c6c6c12;
    box-shadow: 2px 2px 15px 2px #8080801a;
    transition: all 0.5s; }
  header .navbar .container .navbar-collapse form.d-flex .btn i {
    font-size: 1.5em; }
  header .navbar .container .navbar-collapse form.d-flex .btn i.bi.bi-search {
    font-size: 1.3em; }
  header .navbar .container .navbar-collapse form.d-flex .btn i.bi.bi-person {
    font-size: 1.75em; }
  header .navbar .container .navbar-collapse form.d-flex .btn i.bi.bi-bag {
    font-size: 1.4em; }

/* Fin: header */
/*Inicio footer*/
.footer {
  background-color: var(--color-negro);
  margin: 0 auto;
  text-align: center;
  padding: 20px 0; }
  .footer .container .row .col {
    text-align: left; }
    .footer .container .row .col .navbar-brand .logo {
      width: 3rem;
      -webkit-filter: invert(100%);
      filter: invert(100%); }
    .footer .container .row .col h3 {
      font-size: 1rem;
      color: var(--color-blanco); }
    .footer .container .row .col ul {
      list-style: none;
      padding-left: 0; }
      .footer .container .row .col ul li {
        color: var(--color-blanco);
        font-size: 0.8rem; }
  .footer .container .row .col.contacto ul {
    display: flex;
    align-items: center; }
    .footer .container .row .col.contacto ul li {
      padding: 0 10px; }
      .footer .container .row .col.contacto ul li img {
        filter: invert(100%);
        -webkit-filter: invert(100%);
        width: 1.5rem; }
    .footer .container .row .col.contacto ul li.facebook img {
      width: 1rem; }

/*Fin footer*/
.index-ecommerce-sport-shoes main .ecommerce-sport-shoes__carrousel {
  height: 500px; }
  .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__carrousel .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    border-radius: inherit; }
  .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__carrousel .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--color-blanco); }
.index-ecommerce-sport-shoes main .container-parallax {
  margin-top: 100px; }
  .index-ecommerce-sport-shoes main .container-parallax .container-parallax-scene {
    height: 500px; }
    .index-ecommerce-sport-shoes main .container-parallax .container-parallax-scene .content-text {
      width: -webkit-fill-available; }
      .index-ecommerce-sport-shoes main .container-parallax .container-parallax-scene .content-text h3 {
        font-family: var(--fuente-roboto-bold);
        position: absolute;
        font-size: 15rem;
        color: yellow;
        left: -40px;
        top: -40px; }
      .index-ecommerce-sport-shoes main .container-parallax .container-parallax-scene .content-text h4 {
        font-family: var(--fuente-roboto-bold);
        position: absolute;
        font-size: 8rem;
        color: var(--color-rojo);
        left: 130px;
        top: 200px; }
      .index-ecommerce-sport-shoes main .container-parallax .container-parallax-scene .content-text h5 {
        font-family: var(--fuente-roboto-bold);
        font-size: 2rem;
        color: orange;
        position: absolute;
        top: 320px;
        left: 400px; }
    .index-ecommerce-sport-shoes main .container-parallax .container-parallax-scene .content-text.h4 {
      position: absolute; }
    .index-ecommerce-sport-shoes main .container-parallax .container-parallax-scene .content-text.h5 {
      position: absolute; }
.index-ecommerce-sport-shoes main .ecommerce-sport-shoes__grid-slick {
  margin-bottom: 50px; }
  .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__grid-slick .ecommerce-sport-shoes__grid-slick__title h4 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center; }
  .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__grid-slick #grid-slick__grid button.slick-arrow:before {
    color: var(--color-negro); }
  .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__grid-slick #grid-slick__grid .slick-list.draggable .slick-track .grid-image {
    padding: 5px; }
    .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__grid-slick #grid-slick__grid .slick-list.draggable .slick-track .grid-image img {
      width: 100%; }
    .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__grid-slick #grid-slick__grid .slick-list.draggable .slick-track .grid-image h4 {
      font-size: 16px; }
    .index-ecommerce-sport-shoes main .ecommerce-sport-shoes__grid-slick #grid-slick__grid .slick-list.draggable .slick-track .grid-image p {
      font-size: 18px; }

.login-ecommerce-sport-shoes main section.ecommerce-sport-shoes__banner {
  background-image: url("../../src/assets/images/banner/collection.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px; }
.login-ecommerce-sport-shoes main section.container.ecommerce-sport-shoes__form-login {
  margin-top: 100px;
  width: 50%; }
  .login-ecommerce-sport-shoes main section.container.ecommerce-sport-shoes__form-login form .mb-3 .input-pass {
    position: relative; }
    .login-ecommerce-sport-shoes main section.container.ecommerce-sport-shoes__form-login form .mb-3 .input-pass span.eyesPass {
      position: absolute;
      right: 20px;
      top: 8px; }

#mensajeDeStatus p.mensaje-de-status__usuario-no-existe, #mensajeDeStatus .mensaje-de-status__datos-incorrectos {
  padding: 5px;
  text-align: center;
  color: var(--color-rojo); }
  #mensajeDeStatus p.mensaje-de-status__usuario-no-existe a, #mensajeDeStatus .mensaje-de-status__datos-incorrectos a {
    text-decoration: none; }
    #mensajeDeStatus p.mensaje-de-status__usuario-no-existe a strong, #mensajeDeStatus .mensaje-de-status__datos-incorrectos a strong {
      color: var(--color-negro); }

.container.ecommerce-sport-shoes__form-login {
  margin-bottom: 100px; }

.productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__banner {
  background-image: url("../../src/assets/images/banner/collection.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px; }
.productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin: 50px auto;
  justify-content: center;
  align-items: center; }
  .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-grid .product-image {
    position: relative; }
    .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-grid .product-image img {
      width: 100%; }
    .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-grid .product-image .product-button-link {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      bottom: 30px; }
      .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-grid .product-image .product-button-link ul.product-button__link {
        display: none; }
      .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-grid .product-image .product-button-link ul {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
        padding: 0; }
        .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-grid .product-image .product-button-link ul li {
          list-style: none; }
          .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-grid .product-image .product-button-link ul li i {
            font-size: 25px;
            padding: 10px 15px;
            background-color: var(--color-blanco);
            border-radius: 4px;
            margin: 10px; }
  .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-title a {
    text-decoration: none; }
    .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-title a h4 {
      font-size: 16px;
      color: var(--color-negro); }
  .productos-ecommerce-sport-shoes main section.ecommerce-sport-shoes__products-grid .product-price {
    font-size: 18px;
    font-weight: 500; }

button.btn.btn-primary.anadir-al-carrito {
  background-color: var(--color-negro);
  border: var(--color-negro);
  border-radius: 0px;
  font-size: 18px;
  width: 100%; }
  button.btn.btn-primary.anadir-al-carrito:hover {
    background-color: var(--color-blanco);
    color: var(--color-negro);
    outline: 1px solid var(--color-negro);
    transition: all 0.5s; }

.login-ecommerce-sport-shoes .container.ecommerce-sport-shoes__form-login__ckeck .mb-3 .content-edit-date {
  display: flex;
  justify-content: space-between; }

img.image-carrito {
  width: 100px; }

.container.ecommerce-sport-shoes__products-carrito {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px; }
  .container.ecommerce-sport-shoes__products-carrito div#btnComprar {
    display: flex;
    justify-content: flex-end; }

.toastify.on.mensaje-se-agrego-exitosamente.toastify-right.toastify-bottom {
  background: green; }
  .toastify.on.mensaje-se-agrego-exitosamente.toastify-right.toastify-bottom span.toast-close {
    padding-left: 25px;
    color: white !important;
    opacity: 1; }

.toastify.on.mensaje-se-elimino-exitosamente.toastify-right.toastify-top {
  background: var(--color-rojo); }
  .toastify.on.mensaje-se-elimino-exitosamente.toastify-right.toastify-top span.toast-close {
    padding-left: 25px;
    color: white !important;
    opacity: 1; }

/*
 * #######################
 * #######################
 * #######################
 * Inicio de Media Queries
 * #######################
 * #######################
 * #######################
*/
/* Mobile Styles */
/* Tablet Styles */
/* Desktop Styles */
/*
 * #######################
 * #######################
 * #######################
 *   Fin de Media Queries
 * #######################
 * #######################
 * #######################
*/

/*# sourceMappingURL=style.css.map */
