/*
* Inicio Generales
*
*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

input, select {
    border: 1px solid black !important;
    border-radius: 0px !important;

    &:focus {
        border-color: black !important;
        outline: 0 !important;
        box-shadow: 0 0 0 .25rem rgba(0,0,0,.25) !important;
    }
}

button.btn.btn-primary {
    background-color: black;
    border: 1px solid black;
    border-radius: 0px;
    width: 100%;
}
/*
* Fin Generales
*
*/
