/*  Inicio de fuentes externas  */
@font-face {
  font-family: 'Fave Condensed One Pro';
  src: url('../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.eot');
  src: url('../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.woff2') format('woff2'),
      url('../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.woff') format('woff'),
      url('../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.ttf') format('truetype'),
      url('../src/assets/fonts/fave-condensed-one-pro/Fave-CondensedOnePro.svg#Fave Condensed One Pro') format('svg');

  font-display: swap;
}

@font-face {
  font-family: 'Ombudsman Stencil';
  src: url('../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.eot');
  src: url('../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.woff2') format('woff2'),
      url('../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.woff') format('woff'),
      url('../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.ttf') format('truetype'),
      url('../src/assets/fonts/ombudsman-stencil/OmbudsmanStencil.svg#Ombudsman Stencil') format('svg');

  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../src/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');

  font-display: swap;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../src/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');

  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../src/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');

  font-display: swap;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../src/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');

  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('../src/assets/fonts/roboto/RobotoCondensed-Regular.ttf') format('truetype');

  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('../src/assets/fonts/roboto/RobotoCondensed-Bold.ttf') format('truetype');

  font-display: swap;
}
/*  Fin de fuentes externas  */