/* Inicio: estilos generales */
html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--color-blanco);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* Fin: estilos generales */

/* Inicio: header */
header {
    .navbar {
        .container {
            .navbar-brand {
                img.logo {
                    width: 3rem;
                }
            }

            .navbar-collapse {
                form.d-flex {
                    .form-control {
                        display: none;
                    }

                    .form-control.active {
                        display: block;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;

                        &:hover {
                            color: var(--color-negro);
                            transition: all 0.5s;
                        }

                        .btn-carrito {
                            position: relative;
                            display: flex;
                            align-items: center;

                            .carrito-cantidad {
                                background-color: var(--color-rojo);
                                border-radius: 50px;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                line-height: 1.4;
                                color: var(--color-blanco);
                                font-size: 15px;
                            }
                        }

                    }

                    .btn {
                        position: relative;
                        display: flex;
                        align-items: center;

                        &:hover {
                            border-color: #6c6c6c12;
                            box-shadow: 2px 2px 15px 2px #8080801a;
                            transition: all 0.5s;
                        }

                        i {
                            font-size: 1.5em;
                        }

                        i.bi.bi-search {
                            font-size: 1.3em;
                        }

                        i.bi.bi-person {
                            font-size: 1.75em;
                        }

                        i.bi.bi-bag {
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }
    }
}

/* Fin: header */

/*Inicio footer*/
.footer {
    background-color: var(--color-negro);
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;

    .container {
        .row {
            .col {
                text-align: left;

                .navbar-brand {
                    .logo {
                        width: 3rem;
                        -webkit-filter: invert(100%);
                        filter: invert(100%);
                    }
                }

                h3 {
                    font-size: 1rem;
                    color: var(--color-blanco);
                }

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        color: var(--color-blanco);
                        font-size: 0.8rem;
                    }
                }
            }

            .col.contacto {
                ul {
                    display: flex;
                    align-items: center;

                    li {
                        padding: 0 10px;

                        img {
                            filter: invert(100%);
                            -webkit-filter: invert(100%);
                            width: 1.5rem;
                        }
                    }

                    li.facebook {
                        img {
                            width: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/*Fin footer*/

.index-ecommerce-sport-shoes {
    main {
        .ecommerce-sport-shoes__carrousel {
            height: 500px;

            .swiper {
                .swiper-pagination {
                    .swiper-pagination-bullet {
                        width: 50px;
                        height: 5px;
                        border-radius: inherit;
                    }

                    .swiper-pagination-bullet-active {
                        background-color: var(--color-blanco);
                    }
                }
            }
        }

        .container-parallax {
            margin-top: 100px;

            .container-parallax-scene {
                height: 500px;

                .content-text {
                    width: -webkit-fill-available;

                    h3 {
                        font-family: var(--fuente-roboto-bold);
                        position: absolute;
                        font-size: 15rem;
                        color: yellow;
                        left: -40px;
                        top: -40px;
                    }

                    h4 {
                        font-family: var(--fuente-roboto-bold);
                        position: absolute;
                        font-size: 8rem;
                        color: var(--color-rojo);
                        left: 130px;
                        top: 200px;
                    }

                    h5 {
                        font-family: var(--fuente-roboto-bold);
                        font-size: 2rem;
                        color: orange;
                        position: absolute;
                        top: 320px;
                        left: 400px;
                    }
                }

                .content-text.h3 {}

                .content-text.h4 {
                    position: absolute;
                }

                .content-text.h5 {
                    position: absolute;
                }

                .content-img {
                    img {}
                }
            }
        }

        .ecommerce-sport-shoes__grid-slick {
            margin-bottom: 50px;

            .ecommerce-sport-shoes__grid-slick__title {
                h4 {
                    font-size: 30px;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            #grid-slick__grid {
                button.slick-arrow {
                    &:before {
                        color: var(--color-negro);
                    }
                }

                .slick-list.draggable {
                    .slick-track {
                        .grid-image {
                            padding: 5px;

                            img {
                                width: 100%;
                            }

                            h4 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 18px;
                            }

                        }
                    }
                }
            }
        }
    }
}