.login-ecommerce-sport-shoes {
    main {
        section.ecommerce-sport-shoes__banner {
            background-image: url('../../src/assets/images/banner/collection.webp');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 300px;
        }

        section.container.ecommerce-sport-shoes__form-login {
            margin-top: 100px;
            width: 50%;

            form {
                .mb-3 {
                    .input-pass {
                        position: relative;
                        span.eyesPass {
                            position: absolute;
                            right: 20px;
                            top: 8px;
                        }
                    }
                }
            }
        }
    }
}

#mensajeDeStatus {
    p.mensaje-de-status__usuario-no-existe, .mensaje-de-status__datos-incorrectos {
        padding: 5px;
        text-align: center;
        color: red;

        a {
            text-decoration: none;
            strong {
                color: black;
            }
        }
    }
}