.productos-ecommerce-sport-shoes {
    main {
        section.ecommerce-sport-shoes__banner {
            background-image: url('../../src/assets/images/banner/collection.webp');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 300px;
        }

        section.ecommerce-sport-shoes__products-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 10px;
            margin: 50px auto;
            justify-content: center;
            align-items: center;
            .product-grid {
                .product-image {
                    position: relative;
                    img {
                        width: 100%;
                    }
                    .product-button-link {
                        position: absolute;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        bottom: 30px;
                        ul.product-button__link {
                            display: none;
                        }
                        ul {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: center;
                            margin: auto;
                            padding: 0;
                            li {
                                list-style: none;

                                i {
                                    font-size: 25px;
                                    padding: 10px 15px;
                                    background-color: #ffffff;
                                    border-radius: 4px;
                                    margin: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .product-title {
                a {
                    text-decoration: none;
                    h4 {
                        font-size: 16px;
                        color: #000000;
                    }    
                }
            }
            .product-price {
                font-size: 18px;
                font-weight: 500;
                span.price {

                }
            }
        }
    }
}

button.btn.btn-primary.anadir-al-carrito {
    background-color: #000000;
    border: #000000;
    border-radius: 0px;
    font-size: 18px;
    width: 100%;

    &:hover {
        background-color: #ffffff;
        color: #000000;
        outline: 1px solid #000000;
        transition: all 0.5s;
    }
}
